extends layout 

block content 
  h1(class="text-4xl") Category: #{category.name}
  p= category.description

  div(class="space-y-0")
    h2(class="text-2xl") Games: 
    if category.items.length
      ul 
        each item in category.items 
          li
            a(href=item.url class="text-blue-700 hover:text-blue-800") #{item.name} 

    else
      p There are no items.

  hr
  p
    a(href=category.url+'/delete' class="text-red-600 hover:text-red-800") Delete Category
  p
    a(href=category.url+'/update' class="text-blue-700 hover:text-blue-800") Update Category