extends layout 

block content 
  h1(class="text-4xl") #{item.name}

  if item.images.length 
    ul
      each image in item.images 
        li 
          img(src=image.url alt=item.name)
  
  div(class="space-y-0")
    p #[strong Description: ] #{item.description}
    p #[strong Price: ] $#{item.price}
    p #[strong Quantity: ] #{item.quantity}
    if item.categories.length 
      each category in item.categories
        p #[strong Platforms: ] #{category.name.split(' ')[0]}