extends layout 

block content 
  h1(class="text-4xl") #{item.name}

  if item.images.length 
    ul
      each image in item.images 
        li 
          img(src=image.url alt=item.name)
  
  div(class="space-y-0")
    p #[strong Description: ] #{item.description}
    p #[strong Price: ] $#{item.price}
    p #[strong Quantity: ] #{item.quantity}
    p #[strong Platforms: ] 
      if item.categories.length
        = item.categories.map(category => category.name.split(' ')[0]).join(', ')

  hr
  p
    a(href=item.url+'/delete' class="text-red-600 hover:text-red-800") Delete Game